<a href="https://colab.research.google.com/github/Nishasabu/PYTHON/blob/main/python_cycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2.Display future leap years from current year to final year entered by user
y = int(input("enter final leap year:"))
print ("future leap year from 2021")
for  x  in range(2021 , y+1):
   if ((x%4==0) and (x%100!=0 )):
     print(x)

enter final leap year:2041
future leap year from 2021
2024
2028
2032
2036
2040

In [ ]:
#3.(a) generate positive list of numbers from a given list of integers
list1=[-10,2,5,7,9,23,56,-3,-6,-8,-2,-7,-5,-1,-11,21,22,18,-17,14,15,16]
list2=[x for x in list1 if x>0]
print("list of positive integers:",list2)

list of positive integers: [2, 5, 7, 9, 23, 56, 21, 22, 18, 14, 15, 16]

In [ ]:
#Qu 3.(b) square of n numbers
n=int(input("Enter the number you want squares:"))
squares=[i*i for i in range(1,n+1)]
print("Square of the numbers:",squares)

Enter the number you want squares:8
Square of the numbers: [1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
#3(c).form a list of vowels selected from a given word
n1="l show you that path"
vowels=['a','e','i','o','u']
l1=[]
for x in n1:
  if(x in vowels and x not in l1):
    l1.append(x)
print("vowels present in the given statement",l1)

vowels present in the given statement ['o', 'u', 'a']

In [14]:
#3(d)list ordinal value of each element of a word(hint:use ord() to get ordinal values)
n1=input("enter a word:")
for l in range(len(n1)):
  print("ordinal value of",n1[l],"is",ord(n1[l]))

enter a word:mariya
ordinal value of m is 109
ordinal value of a is 97
ordinal value of r is 114
ordinal value of i is 105
ordinal value of y is 121
ordinal value of a is 97

In [ ]:
#4.count the occurence of each word in a line of text
def wordcount(str):
    counts = {}
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( wordcount('the quick brown fox jumps over the lazy dog in there.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1, 'in': 1, 'there.': 1}

In [22]:
#5.prompt the user for a list of integers.for all values greater than 100,store 'over' instead 
x=[]
n1=int(input("enter any integer:"))
for i in range(1,n1+1):
   a=int(input())
   if (a>100):
     x.append('over')
   else:
     x.append(a)
print("modified list:",x)

enter any integer:5
200
10
80
100
490
modified list: ['over', 10, 80, 100, 'over']

In [ ]:
#6.store a list of first names.count the occurrences of a within the list
list = ["nisha", "bibin", "ashly","raju","meera"]
count=0
for i in range(0,4):
 occurrences = list[0].count("a")
 count=count+1


print("occurence of a in the list is:",count)

occurence of a in the list is: 4

In [ ]:
# Qu 7(a).enter 2 lists of integers,check whether list are of same length
list1=[1,2,3,4,5,6,7,8]
list2=[10,3,11,9,14,15,12,13,16]
total=0
print("length of list1 is :",len(list1))
print("length of list2 is:",len(list2))
if list1 == list2: 
    print ("list1 and list2 have samelength") 
else : 
    print ("list1 and list2 not have a samelength")

length of list1 is : 8
length of list2 is: 9
list1 and list2 not have a samelength

In [ ]:
#Qu 7(b).check whether lists sum to same value
Total1 =0
Total2=0
list1=[1,2,3,4,5,6,7,8]
list2=[10,3,11,9,14,15,12,13,16]
for ele in range(0, len(list1)):
    Total1 = Total1 + list1[ele]
print("Sum of  elements in list1: ", Total1)
for ele in range(0, len(list2)):
    Total2 = Total2 + list2[ele]
print("Sum of  elements in list2: ", Total2)
# check that the two list have same sum
if(Total1==Total2):
  print("The sum of elements in list1 and list2 is same")
else:
  print("The sum of  elements in list1 and list2 is different")

Sum of  elements in list1:  36
Sum of  elements in list2:  103
The sum of  elements in list1 and list2 is different

In [ ]:
# Qu 7(c).check whether any value occur in both list
list1=[1,2,3,4,5,6,7,8]
setlist1=set(list1)
list2=[10,3,11,9,14,15,12,13,16]
setlist2=set(list2)
print("Set of first list:",setlist1)
print("set of second list:",setlist2)
z=setlist1.intersection(setlist2)
print("common value present in list1 and list2 is:",z)

Set of first list: {1, 2, 3, 4, 5, 6, 7, 8}
set of second list: {3, 9, 10, 11, 12, 13, 14, 15, 16}
common value present in list1 and list2 is: {3}

In [ ]:
#8.get a string from an input string where all occurrences of first character replaced with $, except first character
c=input("enter the string:")
temp = c[0]

for i in range(1,len(c)):

    if(c[0] == c[i] ):

        temp = temp + '$'

    else:

        temp = temp + c[i]
print("After replacement:",temp)

enter the string:oreo
After replacement: ore$

In [ ]:
#9.create a string from given string where first and last character exchanged
x="Mariyan"
print("Given string:",x)
print("After exchanging the first and last character:",x[6]+x[1]+x[2]+x[3]+x[4]+x[5]+x[0])

Given string: Mariyan
After exchanging the first and last character: nariyaM

In [ ]:
# Qu 10.program to find area of circle 
PI = 3.14
r = float(input("Enter the radius of the circle: "))
Area = PI * r * r
print("Area of the circle is",Area)

Enter the radius of the circle: 3
area of the circle is 28.259999999999998

In [ ]:
#Qu 11.find the biggest of 3 numbers entered
n1=int(input("Enter first number:"))
n2=int(input("Enter second number:"))
n3=int(input("Enter third number:"))
if(n1>n2) and (n1>n3):
 bigger=n1
elif(n2>n1) and (n2>n3):
 bigger=n2
else:
  bigger=n3
  print("Biggest number among 3 numbers is:",bigger)

Enter first number:11
Enter second number:12
Enter third number:20
Biggest number among 3 numbers is: 20

In [ ]:
# Qu 12.Accept a file name from user and print extension of that
filename= input("Enter Filename: ")
f = filename.split(".")

print ("Extension of the file is : " + f[-1])

Enter Filename: sample.txt
Extension of the file is : txt

In [ ]:
# Qu 13.create a list of colors from comma separated color names entered by user.display first and last color
colorlist = ["Red","Green","White" ,"Black"]
print("The first and last color of the colourlist is:",colorlist[0],"and",colorlist[-1])

The first and last color of the colourlist is: Red and Black

In [ ]:
# Qu 14.Accept an integer n and compute n+nn+nnn
a= int(input("Enter an integer : ")) 
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) ) 
n3 = int( "%s%s%s" % (a,a,a) )
print ("n+nn+nnn=",n1+n2+n3)

Enter an integer : 6
n+nn+nnn= 738

In [ ]:
#Qu 15.print out all colors from colourlist 1 not contained in colourlist 2
colourlist1=set(["red","green","black","orange","white","blue","yellow"])
colourlist2=set(["yellow","brown","green","black"])
y=colourlist1.difference(colourlist2)
print("New colourlist:",y)

New colourlist: {'orange', 'white', 'red', 'blue'}

In [ ]:
#16.create a single string separated with space from two strings by swapping the character at position 1
a=input("enter first string:")
b=input("enter second string:")
x=a[0:2]
a=a.replace(a[0:2],b[0:2])
b=b.replace(b[0:2],x)
print("After swapping two strings:",a,b)

enter first string:jkl
enter second string:asd
After swapping two strings: asl jkd

In [ ]:
#17.sort dictionary in ascending and descending order
y={'christy':40,'albin':2,'boby':1,'dony':3} 
                                         
l=list(y.items()) 
print("dictionary is=",l)  
l.sort()            
print('Ascending order is',l)

l=list(y.items())
l.sort(reverse=True)
print('Descending order is',l)

dictionary is= [('christy', 40), ('albin', 2), ('boby', 1), ('dony', 3)]
Ascending order is [('albin', 2), ('boby', 1), ('christy', 40), ('dony', 3)]
Descending order is [('dony', 3), ('christy', 40), ('boby', 1), ('albin', 2)]

In [ ]:
#Qu 18. Merge two dictionaries
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd':4}
dict2 = {'e': 5, 'f': 6, 'g':7, 'h':8}
dict1.update(dict2)
print("Dictionary after merging dict1 and dict2 is:",dict1)

Dictionary after merging dict1 and dict2 is: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

In [ ]:
# Qu 19.Find GCD of 2 numbers
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
i = 1
while(i <= num1 and i <= num2):
  if(num1 % i == 0 and num2 % i == 0):
    gcd = i
  i = i + 1
print("GCD of two numbers is", gcd)

Enter 1st number: 24
Enter 2nd number: 27
GCD of two numbers is 3

In [ ]:
# Qu 20.Form a list of integers,create a list removing even numbers
numbers=[1,2,3,4,5,6,7,8,9,10,11]
numbers=[x for x in numbers if x%2!=0]
print("New list of integers after removing even numbers:",numbers)

New list of integers after removing even numbers: [1, 3, 5, 7, 9, 11]